# =============== #
# Unity generated #
# =============== #
MicroGames/[Tt]emp/
MicroGames/[Oo]bj/
MicroGames/[Bb]uild
MicroGames/[Bb]uilds/
MicroGames/[Ll]ibrary/
MicroGames/sysinfo.txt
MicroGames/*.stackdump
MicroGames/Assets/AssetStoreTools*
MicroGames/*.apk
MicroGames/*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
MicroGames/[Ee]xported[Oo]bj/
MicroGames/.vs/
MicroGames/*.userprefs
MicroGames/*.csproj
MicroGames/*.pidb
MicroGames/*.pidb.meta
MicroGames/*.suo
MicroGames/*.sln*
MicroGames/*.user
MicroGames/*.unityproj
MicroGames/*.booproj
MicroGames/.consulo/
MicroGames/*.tmp
MicroGames/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/